/SISTEMAS DE APRENDIZAJE AUTOMATICO/Ejercicios/datasets/pubg.csv

/SISTEMAS DE APRENDIZAJE AUTOMATICO/PROYECTO FINAL/histopathologic-cancer-detection

/SISTEMAS DE APRENDIZAJE AUTOMATICO/RED NEURONAL/histopathologic-cancer-detection
/SISTEMAS DE APRENDIZAJE AUTOMATICO/RED NEURONAL/weights